@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap');

body {
    background-color: #1a1b1c;
    font-family: 'Fira Code', monospace;
    font-size: 20px;
    color: #dedede;

    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 12%;
    padding-right: 20%;
  }
  
  /*HERO TITLE STUFF*/

  #himynameis {
    font-family: 'Fira Code', monospace;
    font-size: 0.9em; 
    transition-delay: 0;
  }

  #bigname {
    font-family: 'Outfit', sans-serif;
    font-size: 1.8em; 
    margin-top: -4%;
    margin-bottom: -6%;
    transition-delay: 150ms;
  }

  #shortsummary {
    font-family: 'Outfit', sans-serif;
    font-size: 1.6em; 
    margin-top: -6%;
    margin-bottom: -2%;
    transition-delay: 400ms;
  }

  #summary {
    font-family: 'Fira Code', monospace;
    font-size: 0.8em; 
    transition-delay: 650ms;
  }










  section{
    margin-bottom: 400px; 
  }


  /*FADE ANIMATIONS*/
  .hidden {
    opacity: 0;
    filter: blur(6px);
    transform: translateY(60%);
    transition: all 0.55s;
  }

  .show {
    opacity: 0.9;
    filter: blur(0);
    transform: translateY(0);
  }




  /*SCROLLBAR*/
  body::-webkit-scrollbar {
    width: 0.35em;
    background-color: #1a1b1c;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #dedede;
    border-radius: 10px;
  }
