body {
    background-color: #1a1b1c;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: #dedede;
  }
  
  h1 {
    text-align: center;
  }

  section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 85vh;
    padding: 10px 10%;
  }

  .hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
  }

  @media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
  }

  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
